*{
    background-image: url("table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: goldenrod;
}
body{
    color: white;
    text-align: center;
    font-weight: bold;
}

#message-el{
    font-style: italic;
}

button{
    margin-top: 4px;
    background: goldenrod;
    color: #016f32;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px;

}